.contact-grid-container {
  display: grid;
  grid-template-areas: "contactMain";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  min-height: 100vh;
  height: fit-content;
}
.contactMain {
  grid-area: contactMain;
  padding: 40px 15px;
  background-image: url("../assets/mesh-gradient.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
}
.contactMain form * {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(222, 222, 222);
}
.contactMain form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  border: 4px solid gold;
  width: 70%;
  height: fit-content;
  min-height: 90vh;
  padding: 20px;
  padding-top: 40px;
  border-radius: 40px;
  background: transparent;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
}
.contactMain form h1 {
  font-size: 2.5rem;
  margin: 0;
}
.contactMain form label {
  font-size: 1.4rem;
}
.contactMain form input {
  border: 2px solid goldenrod;
  border-radius: 12px;
  width: calc(60% - 5px);
  height: 35px;
  font-size: 1.15rem;
  padding: 5px;
  background: rgba(255, 255, 255, 0.1);
}
.contactMain form select {
  width: 60%;
  min-width: fit-content;
  padding: 10px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  border: 2px solid goldenrod;
  text-align: center;
}
.contactMain form select option {
  padding: 10px;
  color: rgb(48, 48, 48);
}
.contactMain form input[name="seoCheck"] {
  display: none;
}
.seoCheckLabel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 20px;
  height: 20px;
  border: 2px solid goldenrod;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  cursor: pointer;
  transition: 0.1s;
  left: 48px;
}
.seoCheckLabel i {
  display: none;
  color: white;
  font-family: "Font Awesome 6 Free";
  font-size: 1.2rem;
}
.seoCheckLabel::before {
  content: "Would you like SEO:";
  position: absolute;
  width: max-content;
  right: 28px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.15rem;
  cursor: default;
}
.seoCheckLabel::after{
  content: "$39.99";
  position: absolute;
  top: 50%;
  left: 28px;
  transform: translateY(-50%);
  width: max-content;
  font-size: 1.15rem;
  cursor: default;
}
#seoCheck:checked + .seoCheckLabel {
  background-color: goldenrod;
}
#seoCheck:checked + .seoCheckLabel i {
  display: inline-block;
}
.contactMain form input[name="seoCheck"]:checked + label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 1.2rem;
}
.customCheck {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  gap: 20px;
}
.customCheck::before {
  content: "";
  position: absolute;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 150%;
  background-color: goldenrod;
}
.customCheck h3 {
  font-size: 1.3rem;
  margin: 0;
  position: relative;
  top: 5px;
}
.customCheck h3::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 80%;
  background-color: goldenrod;
}
.customCheck input[type="checkbox"] {
  display: none;
}
.customCheck label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 2px solid goldenrod;
  border-radius: 6px;
  cursor: pointer;
  left: 80px;
}
.customCheck label i {
  display: none;
  color: white;
  font-family: "Font Awesome 6 Free";
  font-size: 1.2rem;
}
.label1,
.label2,
.label3,
.label4 {
  background: rgba(255, 255, 255, 0.1);
  transition: 0.1s;
}
#custom1:checked + .label1 {
  background-color: goldenrod;
}
#custom2:checked + .label2 {
  background-color: goldenrod;
}
#custom3:checked + .label3 {
  background-color: goldenrod;
}
#custom4:checked + .label4 {
  background-color: goldenrod;
}
#custom1:checked + .label1 i {
  display: inline-block;
}
#custom2:checked + .label2 i {
  display: block;
}
#custom3:checked + .label3 i {
  display: block;
}
#custom4:checked + .label4 i {
  display: block;
}
.customCheck label:nth-of-type(1)::before {
  content: "Design and develop:";
  position: absolute;
  width: max-content;
  right: 28px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.15rem;
  color: rgb(186, 186, 186);
}
.customCheck label:nth-of-type(2)::before {
  content: "Redesign website:";
  position: absolute;
  width: max-content;
  right: 28px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.15rem;
  color: rgb(186, 186, 186);
}
.customCheck label:nth-of-type(3)::before {
  content: "Develop from design:";
  position: absolute;
  width: max-content;
  right: 28px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.15rem;
  color: rgb(186, 186, 186);
}
.customCheck label:nth-of-type(4)::before {
  content: "Hosting:";
  position: absolute;
  width: max-content;
  right: 28px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.15rem;
  color: rgb(186, 186, 186);
}
.contactMain form textarea {
  resize: none;
  border: 2px solid goldenrod;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  width: 60%;
  height: 80px;
  padding: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.contactMain form button {
  padding: 12px 100px;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.1);
  color: goldenrod;
  border: 2px solid goldenrod;
  cursor: pointer;
  transition: 0.3s;
  margin: 20px 0;
  font-size: 1.2rem;
  font-weight: bolder;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}
.contactMain form button:hover {
  border: 2px solid goldenrod;
  color: white;
  background-color: goldenrod;
}
.contactMain form button:active {
  transform: scale(0.95);
}
.contactMain form .selectCont {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  width: 60%;
}
.contactMain form .error {
  color: red;
  font-size: 1rem;
  margin: 0;
  position: relative;
  bottom: 10px;
}
