.services-grid-container {
  display: grid;
  grid-template-areas: "servicesMain";
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  height: fit-content;
}
.servicesMain {
  grid-area: servicesMain;
  background-image: url("mesh-gradientAbout.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: gradientAnimation 8s ease infinite;
  width: 100%;
  padding: 20px;
  position: relative;
  height: 1600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  overflow: hidden;
}
#legend {
  background-color: #272f9d;
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#legend p {
  width: fit-content;
  color: #969cde;
  font-family: var(--font);
  font-size: 1.2rem;
}
.h1 {
  color: rgb(224, 224, 224);
  font-size: 2.5rem;
  text-align: center;
  font-family: var(--font);
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}
.cardCont {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: center;
  align-items: center;
  gap: 35px;
  opacity: 0;
  position: relative;
  top: 10%;
}
#else {
  flex-direction: column;
  gap: 0;
}
#else .h1 {
  font-family: var(--font);
  color: rgb(224, 224, 224);
  font-size: 2.5rem;
}
.serviceCard {
  width: 30%;
  aspect-ratio: 1;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 8px;
  border-radius: 8px;
  padding: 20px;
  cursor: pointer;
  background-image: url("mesh-card.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.4s ease;
  box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.4);
}
.price p {
  margin: 0;
}
.serviceCard:nth-of-type(1) .price,
.serviceCard:nth-of-type(2) .price,
.serviceCard:nth-of-type(3) .price {
  position: absolute;
  width: 90px;
  aspect-ratio: 1;
  top: -22.5px;
  right: -22.5px;
  background: rgb(88, 121, 255);
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  z-index: 4;
  font-family: var(--font);
  color: white;
  font-size: 1.4rem;
  line-height: 0.8rem;
  text-align: center;
}
.cardCont:nth-of-type(1) .serviceCard:nth-of-type(1) .price p,
.cardCont:nth-of-type(1) .serviceCard:nth-of-type(2) .price p,
.cardCont:nth-of-type(1) .serviceCard:nth-of-type(3) .price p {
  position: relative;
  top: 27px;
}
.cardCont:nth-of-type(2) .serviceCard:nth-of-type(1) .price {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardCont:nth-of-type(2) .serviceCard:nth-of-type(2) .price,
.cardCont:nth-of-type(2) .serviceCard:nth-of-type(3) .price {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.customCard .price {
  position: absolute;
  width: 90px;
  aspect-ratio: 1;
  top: -22.5px;
  right: -22.5px;
  background: rgb(88, 121, 255);
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  font-family: var(--font);
  color: white;
  font-size: 1.4rem;
  text-align: center;
}
.cardCont:nth-of-type(4) .customCard .price {
  font-size: 3rem;
}
.serviceCard:hover,
.customCard:hover {
  transform: scale(1.02);
  box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.4);
}
.serviceCard::after,
.customCard::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 3px;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(135deg, #a0b6ff, #c7b8ff);
  border-radius: 8px;
}
.serviceCard h1,
.customCard h1 {
  font-size: 1.8rem;
  font-family: var(--font);
  margin: 0;
  color: rgb(238, 238, 238);
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
}
.serviceCard h1,
.serviceCard .p {
  width: 90%;
}
.serviceCard .p,
.customCard .p {
  font-size: 1.2rem;
  font-family: var(--font);
  margin: 0;
  color: rgb(223, 223, 223);
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  line-height: 1.8rem;
}
.customCard {
  width: 90% + 30px;
  height: 180px;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 8px;
  padding: 10px;
  box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.4);
  background-image: url("mesh-card.png");
  background-size: cover;
  background-position: 100% 80%;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.4s ease;
  border-radius: 8px;
}
.customCard .div {
  position: absolute;
  bottom: -26px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: fit-content;
  gap: 20px;
}
.crossedOut {
  font-family: var(--font);
  color: rgb(240, 251, 255);
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
  font-size: 2rem;
  font-weight: bolder;
  text-decoration: line-through;
}
.save20 {
  font-family: var(--font);
  color: rgb(240, 251, 255);
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
  font-size: 2rem;
  font-weight: bolder;
  background-color: #3f45a1;
  padding: 4px 12px;
  border-radius: 4px;
  border: 2px dashed #272f9d;
}
.learnMoreCont {
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url("mesh-gradientAbout.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  min-height: fit-content;
  padding: 0 50px;
}
.learnMoreCont .back {
  font-size: 1.4rem;
  font-family: var(--font);
  color: white;
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  left: 15px;
  top: 5px;
  transition: 0.2s;
}
.learnMoreCont .back:hover {
  color: rgb(200, 200, 200);
}
.learnMoreCont .moreH1 {
  color: rgb(222, 222, 222);
  font-size: 2.5rem;
  font-family: var(--font);
  margin: 0;
  margin-top: 120px;
  width: 100%;
  margin-bottom: 15px;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
}
.learnMoreCont p {
  color: rgb(234, 234, 234);
  font-size: 1.5rem;
  font-family: var(--font);
  margin: 0;
  width: 60%;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.ml2 a {
  color: #64a7ff;
  text-decoration: none;
  cursor: pointer;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
.ml2 a:hover {
  text-decoration: underline;
}
.learnMoreCont .ul {
  opacity: 0;
}
.learnMoreCont .ul h1 {
  color: rgb(222, 222, 222);
  font-size: 1.8rem;
  font-family: var(--font);
  margin: 0;
}
.learnMoreCont .ul li {
  color: rgb(190, 190, 190);
  font-size: 1.2rem;
  font-family: var(--font);
  margin: 0;
}
.ml2 .word {
  display: inline-block;
  line-height: 1em;
}
.ml2 .letter0,
.ml2 .letter1 {
  display: inline-block;
  line-height: 1em;
  opacity: 0;
}
.managementCard {
  width: 35%;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 8px;
  border-radius: 8px;
  position: absolute;
  right: 5%;
  top: 210px;
  padding: 10px 0;
  background-image: url("mesh-card.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.managementCard h1 {
  font-size: 1.8rem;
  font-family: var(--font);
  margin: 0;
  color: rgb(222, 222, 222);
}
.managementCard h3 {
  font-size: 1.6rem;
  font-family: var(--font);
  margin: 0;
  margin-bottom: 5px;
  color: white;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.ml1 .letter {
  display: inline-block;
  line-height: 1em;
  opacity: 0;
}
.ml1 .word {
  display: inline-block;
  line-height: 1em;
}
.ml1 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}
.ml1 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  transform-origin: 0 0;
}
.ml1 .line1 {
  top: 0;
}
.ml1 .line2 {
  bottom: 0;
}
.managementCard p {
  font-size: 1.2rem;
  font-family: var(--font);
  margin: 0;
  opacity: 0;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  width: 80%;
}
.managementCard .optionsCont {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 90%;
  height: fit-content;
  margin-top: 10px;
  gap: 8px;
}
.managementCard .blocker {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 20;
  background: transparent;
}
.managementCard .option {
  width: calc(100% - 8px);
  height: 92px;
  padding: 10px;
  cursor: default;
  border-radius: 3px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  opacity: 0;
}
.managementCard .option::before {
  position: absolute;
  width: 60px;
  aspect-ratio: 1;
  right: -18px;
  top: -10px;
  border-radius: 50%;
  z-index: 4;
  border: 2px solid rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: var(--font);
  font-size: 1.4rem;
}
.managementCard .option:nth-of-type(2)::before {
  content: "$40";
  background: rgb(183, 119, 0);
}
.managementCard .option:nth-of-type(3)::before {
  content: "$60";
  background: rgb(49, 154, 33);
}
.managementCard .option:nth-of-type(4)::before {
  content: "$80";
  background: rgb(55, 77, 164);
}
.managementCard .option * {
  backface-visibility: hidden;
}
.managementCard .option .front,
.managementCard .option .backOf {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  transition: 0.6s;
}
.front {
  transform: rotateY(0deg);
}
.backOf {
  transform: rotateY(180deg);
}
.option:hover .backOf {
  transform: rotateY(0deg);
}
.option:hover .front {
  transform: rotateY(180deg);
}
.managementCard .option:nth-of-type(2) {
  background-color: rgba(255, 166, 0, 0.6);
  border: 4px solid rgba(255, 166, 0, 1);
}
.managementCard .option:nth-of-type(3) {
  background-color: rgba(82, 255, 55, 0.6);
  border: 4px solid rgba(82, 255, 55, 1);
}
.managementCard .option:nth-of-type(4) {
  background-color: rgba(49, 183, 255, 0.6);
  border: 4px solid rgba(49, 183, 255, 1);
}
.serviceCardList {
  width: 100%;
  min-height: fit-content;
  position: absolute;
  bottom: 120px;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
.serviceCardList::before {
  content: "* See main page for pricing";
  position: absolute;
  bottom: -35px;
  left: 0px;
  color: rgb(138, 138, 138);
  font-family: var(--font);
  font-size: 1.2rem;
}
.serviceCardList .listTitle {
  font-size: 2rem;
  font-family: var(--font);
  color: rgb(222, 222, 222);
  margin: 0;
  margin-left: 50px;
  position: absolute;
  top: -50px;
  opacity: 0;
}
.serviceCardList .list {
  height: 150px;
  min-height: fit-content;
  aspect-ratio: 1;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  position: relative;
  opacity: 0;
  box-shadow: inset 0 0 10px 4px rgba(255, 255, 255, 0.2);
  background-image: url("mesh-card.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.3s ease;
}
.serviceCardList .list:hover {
  box-shadow: inset 0 0 10px 4px rgba(255, 255, 255, 0.4);
  scale: 1.03;
}
.serviceCardList .list::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 3px;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(135deg, #a0b6ff, #c7b8ff);
  border-radius: 8px;
}
.serviceCardList .list h1 {
  font-size: 1.6rem;
  font-family: var(--font);
  margin: 0;
  text-align: center;
  color: rgb(222, 222, 222);
}
@keyframes cardsRise {
  0% {
    opacity: 0;
    top: 10%;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 40% 60%;
  }
  50% {
    background-position: 60% 40%;
  }
  100% {
    background-position: 0% 50%;
  }
}
