body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.home-grid-container {
  display: grid;
  grid-template-areas:
    "homeMain"
    "divider"
    "homeAboutMain"
    "pricing";
  grid-template-columns: 1fr;
  grid-template-rows: 0.8fr auto auto auto;
  height: fit-content;
  background: repeating-linear-gradient(
    180deg,
    #eaeeff,
    #eaeeff 8px,
    #c1d1ff 8px,
    #c1d1ff 16px
  );
}
.about-grid-container {
  display: grid;
  grid-template-areas:
    "aboutMain"
    "reviews";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  height: fit-content;
}
header {
  background-color: #4c65af;
  height: 80px;
  text-align: center;
  width: calc(100% - 10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  position: sticky;
  top: 0;
  z-index: 100;
  overflow: hidden;
}
.activeLink {
  color: rgb(102, 191, 255);
}
.inactiveLink {
  color: white;
}
.homeMain {
  grid-area: homeMain;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px;
  background-image: url("./assets/1161.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.divider {
  grid-area: divider;
  background: #000066;
  height: 40px;
  width: 100%;
}
.homeAboutMain{
  grid-area: homeAboutMain;
  height: 600px;
  width: calc(100% - 20px);
  position: relative;
  background-color: #000066;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  padding: 10px;
}
.homeAboutMain .mainAbout h1{
  font-size: 3rem;
  margin: 0;
  padding: 0;
}
.homeAboutMain .mainAbout p{
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
}
.aboutLearnBtn{
  background-color: #3a44d3;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.25rem;
  border: 2px solid #3a44d3;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.2s;
  padding: 6px 30px;
}
.aboutLearnBtn:hover{
  background-color: white;
  color: #3a44d3;
}
.pricing {
  grid-area: pricing;
  width: calc(100% - 20px);
  height: 550px;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  position: relative;
  background-image: url("./assets/cardBackground.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.pricing #faqTitle {
  font-size: 3rem;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  margin: 0;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}
.aboutMain {
  grid-area: aboutMain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: fit-content;
  min-height: 500px;
  background-image: url("./assets/backgroundImg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
.reviews {
  grid-area: reviews;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  width: calc(100% - 40px);
  height: fit-content;
  padding: 80px 20px 20px 20px;
  background-color: rgb(239, 239, 239);
  border-top: 5px solid rgba(48, 48, 48, 0.1);
}
footer {
  background-color: #3a44d3;
  padding: 20px;
  height: 60px;
  width: calc(100% - 40px);
  text-align: center;
  color: #7e87ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer h2 {
  margin: 0;
  font-size: 1.9rem;
  font-weight: 400;
  font-style: normal;
  font-family: "Bona Nova SC", "Oswald", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
footer a {
  text-decoration: none;
  font-weight: bolder;
  cursor: pointer;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
footer a:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .home-grid-container {
    grid-template-areas:
      "homeMain"
      "divider"
      "homeAsideInfo"
      "homeMainInfo"
      "location"
      "pricing";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto auto auto;
  }
}
