body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.home-grid-container {
  display: grid;
  grid-template-areas:
    "homeMain"
    "divider"
    "homeAboutMain"
    "pricing";
  grid-template-columns: 1fr;
  grid-template-rows: 0.8fr auto auto auto;
  height: fit-content;
  background-image: url("./assets/9019786.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.about-grid-container {
  display: grid;
  grid-template-areas:
    "aboutMain"
    "reviews";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  height: fit-content;
  background-image: url("./assets/back.svg");
  background-color: #1d1d7b;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
header {
  background-color: #4c65af;
  height: 80px;
  text-align: center;
  width: calc(100% - 10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  position: sticky;
  top: 0;
  z-index: 100;
  overflow: hidden;
}
.activeLink {
  color: rgb(102, 191, 255);
}
.inactiveLink {
  color: white;
}
.homeMain {
  grid-area: homeMain;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px;
}
.divider {
  grid-area: divider;
  height: 40px;
  width: 100%;
}
.servicesCampaign{
  width: 90%;
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  margin: 0 auto 80px auto;
}
.servicesCampaign div:nth-of-type(1){
  width: 25%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  overflow: hidden;
}
.servicesCampaign img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.servicesCampaign div:nth-of-type(2){
  width: calc(65% - 40px);
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: linear-gradient(145deg, hsla(240, 100%, 38%, 0.7), hsla(240, 100%, 20%, 0.7));
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  gap: 20px;
}
.servicesCampaign div:nth-of-type(2) h1{
  font-size: 2.6rem;
  margin: 0;
  padding: 0;
}
.servicesCampaign div:nth-of-type(2) .p{
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
  line-height: 2rem;
  width: 80%;
}
.servicesCampaign button{
  font-size: 1.25rem;
  background-color: transparent;
  color: #ac9dff;
  border: 3px solid #ac9dff;
  border-radius: 4px;
  flex-grow: 1;
  padding: 3px 30px;
  transition: 0.2s;
  position: relative;
  cursor: pointer;
  font-weight: bolder;
  text-shadow: 0 0 12px rgba(0, 0, 0, 1);
}
.servicesCampaign button:hover{
  background-color: #ac9dff;
  color: white;
}
.servicesCampaign button p{
  position: relative;
  z-index: 2;
  margin: 0;
  font-size: 1.25rem;
  line-height: 2rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.homeAboutMain {
  grid-area: homeAboutMain;
  height: fit-content;
  min-height: 600px;
  width: 100%;
  position: relative;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
}
.homeAboutMain .mainAbout h1,
.homeBase h1 {
  font-size: 3rem;
  margin: 0;
  margin-left: 40px;
  padding: 0;
  margin-bottom: 10px;
}
.homeAboutMain .mainAbout p,
.offerings p,
.homeBase .p {
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
  margin-left: 40px;
  line-height: 2rem;
  color: rgb(203, 203, 203);
}
.homeAboutMain .mainAbout {
  height: fit-content;
  min-height: 320px;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.aboutLearnBtn {
  background-color: transparent;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.25rem;
  border: 2px solid #3a44d3;
  cursor: pointer;
  width: fit-content;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
  padding: 3px 30px;
  margin-left: 40px;
  margin-top: 20px;
  position: relative;
}
.aboutLearnBtn #text {
  position: relative;
  z-index: 2;
  margin: 0;
  font-size: 1.25rem;
}
.aboutLearnBtn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #3a44d3;
  transition: 0.3s ease-in-out;
}
.aboutLearnBtn:hover::after {
  background-color: #3a44d3;
  width: 100%;
  z-index: 1;
}
.offerings ul {
  width: 80%;
  height: 90%;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 40px;
  position: relative;
}
.offerings ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
}
.offerings ul::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
}
.offerings ul li {
  font-size: 1.8rem;
  color: white;
  line-height: 2.4rem;
}
.offerings {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.offerings h1 {
  font-size: 2.8rem;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  position: relative;
  right: 30px;
}
.offerings .left,
.offerings .right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 380px;
  background-color: hsla(240, 73%, 45%, 0.6);
}
.offerings .left {
  flex: 1;
  background-image: url("./assets/designing.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.offerings .right {
  flex: 1.5;
}
.callNow {
  background-color: hsla(240, 100%, 20%, 0.9);
  padding: 40px 0;
  position: relative;
}
.callNow h1 {
  font-size: 2.2rem;
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: normal;
  line-height: 3rem;
}
.callNow p {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  color: rgb(200, 200, 200);
  text-align: center;
  line-height: 3rem;
}
.callNow a {
  font-size: 2.6rem;
  color: rgb(120, 113, 255);
  text-decoration: none;
  font-weight: bolder;
}
.callNow a:hover {
  text-decoration: underline;
}
.homeBase {
  position: relative;
  width: 80%;
  height: 250px;
  margin-top: 180px;
}
.homeBase .p {
  margin-top: 10px;
}
.time {
  position: absolute;
  left: 40px;
  bottom: 5px;
  margin: 0;
  display: flex;
  gap: 6px;
  font-size: 1.2rem;
  font-weight: normal;
}
.time p {
  margin: 0;
  font-family: monospace, 'Courier New', Courier;
  font-weight: bold;
}
.pricing {
  grid-area: pricing;
  width: calc(100% - 20px);
  height: 550px;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.pricing #faqTitle {
  font-size: 3rem;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  margin: 0;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}
.aboutMain {
  grid-area: aboutMain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: fit-content;
  min-height: 500px;
  overflow: hidden;
}
footer {
  background-color: #3a44d3;
  padding: 20px;
  height: 60px;
  width: calc(100% - 40px);
  text-align: center;
  color: #7e87ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer h2 {
  margin: 0;
  font-size: 1.9rem;
  font-weight: 400;
  font-style: normal;
  font-family: "Bona Nova SC", "Oswald", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
footer a {
  text-decoration: none;
  font-weight: bolder;
  cursor: pointer;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
footer a:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .home-grid-container {
    grid-template-areas:
      "homeMain"
      "divider"
      "homeAsideInfo"
      "homeMainInfo"
      "location"
      "pricing";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto auto auto;
  }
}
